docker-pycreds
eagerpy==0.29.0
foolbox==3.3.1
gdown==3.12.2
gitdb==4.0.7
gitpython==3.1.14
googledrivedownloader==0.4
littleutils==0.2.2
outdated==0.2.0
pathtools==0.1.2
promise==2.3
pydub==0.25.1
python-louvain==0.15
resampy==0.2.2
shortuuid==1.0.1
tensorboardx==2.1
wandb==0.10.28
protobuf==3.20.3